In [2]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib as mb

In [3]:
# import dataset
wine_review_df = pd.read_csv("winemag-data-130k-v2.csv")
wine_review_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
# Find total # of rows and columns
wine_review_df.shape

(129971, 14)

In [5]:
wine_review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

In [13]:
# Select only rows with >=95 points.
best_review_df = wine_review_df.loc[(wine_review_df['points'] >= 93)]
best_review_df.shape

(12663, 14)

In [14]:
# Select rows with >= 95 points in US only.
US_best_review_df = wine_review_df.loc[(wine_review_df['points'] >= 93) & (wine_review_df['country'] == 'US')]
US_best_review_df.shape

(5800, 14)

In [15]:
# Determine how many unique countries are included.
best_review_df['country'].unique()

array(['Australia', 'Germany', 'Italy', 'Hungary', 'US', 'France',
       'Argentina', 'Spain', 'Portugal', 'Austria', 'New Zealand',
       'India', 'Chile', 'South Africa', 'Canada', 'Greece', 'England',
       'Morocco', 'Israel'], dtype=object)

In [16]:
US_best_review_df['region_1'].unique()

array(['Russian River Valley', 'Diamond Mountain District',
       'Dundee Hills', 'Edna Valley', 'Santa Maria Valley', 'Napa Valley',
       'Templeton Gap District', 'Sonoma Coast', 'Ballard Canyon',
       'Green Valley', 'Carneros', 'Sonoma Valley', 'Horse Heaven Hills',
       'Sierra Foothills', 'Sta. Rita Hills', 'Paso Robles',
       'Central Coast', 'Howell Mountain', 'Amador County',
       'Willamette Valley', 'Ribbon Ridge', 'Walla Walla Valley (OR)',
       'Rutherford', 'Chehalem Mountains', 'Eola-Amity Hills',
       'Anderson Valley', 'Alexander Valley', 'Yountville',
       'Bennett Valley', 'Paso Robles Willow Creek District',
       'Santa Barbara County', 'Suisun Valley', 'Monterey',
       'Dry Creek Valley', 'Columbia Valley (WA)', 'Red Mountain',
       'Sonoma County', 'Happy Canyon of Santa Barbara', 'St. Helena',
       'Arroyo Seco', 'Oakville', 'Wahluke Slope', 'Calaveras County',
       'Yakima Valley', 'Sonoma-Napa', 'Santa Lucia Highlands',
       'Walla Walla Valley (WA)', 'Livermore Valley', 'Chalk Hill',
       'Chalone', 'California', 'Fort Ross-Seaview', 'Mt. Harlan',
       'Spring Mountain District', 'Coombsville', 'Stags Leap District',
       'Washington', 'Mendocino County', 'Pine Mountain-Cloverdale Peak',
       'Oregon', 'Fiddletown', 'Ben Lomond Mountain', 'Sonoma Mountain',
       'Arroyo Grande Valley', 'San Luis Obispo County',
       'Santa Cruz Mountains', 'Napa County', 'Adelaida District',
       'North Fork of Long Island', 'Mount Veeder',
       'Shenandoah Valley (CA)', 'Santa Ynez Valley', 'Carmel Valley',
       'Calistoga', 'Atlas Peak', 'North Coast', 'Seneca Lake',
       'Oak Knoll District', 'Rockpile', 'Monterey County', 'Mendocino',
       'Mendocino Ridge', 'Red Hills Lake County', 'Contra Costa County',
       'San Benito County', 'McDowell Valley', 'Marin County',
       'High Valley', 'Columbia Valley (OR)', 'Monterey-Santa Cruz',
       'Lake County', 'Applegate Valley', 'Rogue Valley',
       'Rattlesnake Hills', 'El Dorado', 'El Pomar District',
       'Santa Clara Valley', 'McMinnville', 'Knights Valley',
       'Columbia Gorge (OR)', 'Lodi', 'Yorkville Highlands',
       'Temecula Valley', 'Redwood Valley', 'Southern Oregon',
       'Napa County-Sonoma County', 'San Luis Obispo', 'Snipes Mountain',
       'Moon Mountain District Sonoma County',
       'Sonoma County-Napa County', 'Napa-Sonoma',
       'Napa-Monterey-Mendocino', 'Ancient Lakes', 'Mount Harlan',
       'Santa Margarita Ranch', nan, 'Finger Lakes', 'Los Carneros',
       'Cucamonga Valley', 'Humboldt County', 'Saddle Rock-Malibu',
       'Umpqua Valley', 'San Bernabe', 'Fair Play',
       'Napa-Mendocino-Sonoma-Marin', 'Columbia Gorge (WA)',
       'Guenoc Valley', 'San Francisco Bay', 'El Dorado County',
       'Clear Lake', 'York Mountain', 'Mokelumne River',
       'California Other'], dtype=object)

In [17]:
US_best_review_df['region_2'].unique()

array(['Sonoma', 'Napa', 'Willamette Valley', 'Central Coast',
       'Napa-Sonoma', 'Columbia Valley', 'Sierra Foothills', nan,
       'Oregon Other', 'North Coast', 'California Other',
       'Washington Other', 'Long Island', 'Finger Lakes',
       'Southern Oregon', 'Central Valley', 'South Coast'], dtype=object)

In [18]:
wine_review_df['country'].value_counts()

US                        54504
France                    22093
Italy                     19540
Spain                      6645
Portugal                   5691
Chile                      4472
Argentina                  3800
Austria                    3345
Australia                  2329
Germany                    2165
New Zealand                1419
South Africa               1401
Israel                      505
Greece                      466
Canada                      257
Hungary                     146
Bulgaria                    141
Romania                     120
Uruguay                     109
Turkey                       90
Slovenia                     87
Georgia                      86
England                      74
Croatia                      73
Mexico                       70
Moldova                      59
Brazil                       52
Lebanon                      35
Morocco                      28
Peru                         16
Ukraine                      14
Serbia                       12
Macedonia                    12
Czech Republic               12
Cyprus                       11
India                         9
Switzerland                   7
Luxembourg                    6
Bosnia and Herzegovina        2
Armenia                       2
Egypt                         1
Slovakia                      1
China                         1
Name: country, dtype: int64

In [19]:
best_review_df['country'].value_counts()

US              5800
France          2914
Italy           1686
Austria          569
Portugal         518
Germany          329
Spain            296
Australia        196
Argentina        136
Chile             61
South Africa      46
New Zealand       40
England           24
Canada            17
Hungary           14
Israel            13
Greece             2
India              1
Morocco            1
Name: country, dtype: int64

In [24]:
US_best_review_df['variety'].unique().shape

(90,)

In [28]:
variety_reviews = len(pd.unique(US_best_review_df['variety']))
print("No.of.unique values :", 
      variety_reviews)

No.of.unique values : 90

In [30]:
US_best_review_df['variety'].value_counts().head(10)

Pinot Noir                  1848
Cabernet Sauvignon          1150
Chardonnay                   760
Syrah                        528
Bordeaux-style Red Blend     301
Red Blend                    167
Zinfandel                    155
Merlot                        94
Sparkling Blend               93
Rhône-style Red Blend         90
Name: variety, dtype: int64