In [21]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests

from config import weather_api_key

In [22]:
latlong_df = pd.read_csv("winery_latlong_data.csv")
latlong_df.head()

,Unnamed: 0,winery_search_term,latitude,longitude,number_of_results,status
0,0,Nicosia winery Italy,37.622150,15.074750,1,OK
1,1,Quinta dos Avidagos winery Portugal,41.183402,-7.757935,1,OK
2,2,NaN,NaN,NaN,0,ZERO_RESULTS
3,3,St. Julian winery US,42.212251,-85.891713,1,OK
4,4,Sweet Cheeks winery US,43.956670,-123.279135,1,OK

In [23]:
latlong_df.dropna(inplace=True)

In [25]:
# Create lists of latitudes and longitudes
lats = list(latlong_df['latitude'])
lngs = list(latlong_df['longitude'])

wineries = list(latlong_df['winery_search_term'])

In [26]:
# Starting URL for Weather Map API Call.
url = "http://history.openweathermap.org/data/2.5/aggregated/month?units=imperial&appid=" + weather_api_key

test_url = url + "&lat=" + str(lats[0]) + "&lon=" + str(lngs[0]) + "&month=" + "10"
test_url

'http://history.openweathermap.org/data/2.5/aggregated/month?units=imperial&appid=02d704b0ba1442038d5de24dcb90c642&lat=37.622150399999995&lon=15.0747503&month=10'

In [27]:
winery_weather = requests.get(test_url).json()
winery_weather
avg_min = winery_weather["result"]["temp"]["average_min"]
avg_max = winery_weather["result"]["temp"]["average_max"]
mean_humidity = winery_weather["result"]["humidity"]["mean"]

In [28]:
winery_test_data = []

winery_test_data.append({"Winery": wineries[0],
                          "Avg Min Temp": avg_min,
                          "Avg Max Temp": avg_max,
                          "Mean Humidity": mean_humidity})

winery_test_data

[{'Winery': 'Nicosia winery Italy',
  'Avg Min Temp': 282.56,
  'Avg Max Temp': 301.59,
  'Mean Humidity': 75}]

In [29]:
# Create an empty list to hold the weather data.
winery_weather_data = []
# Print the beginning of the logging.
print("Beginning Data Retrieval     ")
print("-----------------------------")

# Create counters.
record_count = 1
set_count = 1
winery_count = 0

# Loop through all the wineries in the list.
for i, winery in enumerate(wineries):

    # Group wineries in sets of 50 for logging purposes.
    if (i % 50 == 0 and i >= 50):
        set_count += 1
        record_count = 1
    # Create endpoint URL with each winery.
    winery_url_june = url + "&lat=" + str(lats[winery_count]) + "&lon=" + str(lngs[winery_count]) + "&month=" + "6"
    winery_url_july = url + "&lat=" + str(lats[winery_count]) + "&lon=" + str(lngs[winery_count]) + "&month=" + "7"
    winery_url_aug = url + "&lat=" + str(lats[winery_count]) + "&lon=" + str(lngs[winery_count]) + "&month=" + "8"

    # Log the URL, record, and set numbers and the city.
    print(f"Processing Record {record_count} of Set {set_count} | {winery}")
    # Add 1 to the record count and winery count.
    record_count += 1
    
    # Run an API request for each of the wineries.
    try:
        # Parse the JSON and retrieve data.
        winery_weather_june = requests.get(winery_url_june).json()
        # Parse out the needed data.
        avg_min_june = winery_weather_june["result"]["temp"]["average_min"]
        avg_max_june = winery_weather_june["result"]["temp"]["average_max"]
        mean_humidity_june = winery_weather_june["result"]["humidity"]["mean"]
        
        # Parse the JSON and retrieve data.
        winery_weather_july = requests.get(winery_url_july).json()
        # Parse out the needed data.
        avg_min_july = winery_weather_july["result"]["temp"]["average_min"]
        avg_max_july = winery_weather_july["result"]["temp"]["average_max"]
        mean_humidity_july = winery_weather_june["result"]["humidity"]["mean"]
        
        # Parse the JSON and retrieve data.
        winery_weather_aug = requests.get(winery_url_aug).json()
        # Parse out the needed data.
        avg_min_aug = winery_weather_aug["result"]["temp"]["average_min"]
        avg_max_aug = winery_weather_aug["result"]["temp"]["average_max"]
        mean_humidity_aug = winery_weather_aug["result"]["humidity"]["mean"]
               
        
        # Append the winery information into city_data list.
        winery_weather_data.append({"Winery": wineries[winery_count],
                          "June Avg Min Temp": avg_min_june,
                          "June Avg Max Temp": avg_max_june,
                          "June Mean Humidity": mean_humidity_june,
                          "July Avg Min Temp": avg_min_july,
                          "July Avg Max Temp": avg_max_july,
                          "July Mean Humidity": mean_humidity_july,
                          "Aug Avg Min Temp": avg_min_aug,
                          "Aug Avg Max Temp": avg_max_aug,
                          "Aug Mean Humidity": mean_humidity_aug})

    # If an error is experienced, skip the winery.
    except:
        print("Weather not found. Skipping...")
        pass
    
    # Add to winery count
    winery_count += 1

    # Indicate that Data Loading is complete.
    print("-----------------------------")
    print("Data Retrieval Complete      ")
    print("-----------------------------")

Beginning Data Retrieval
-----------------------------
Processing Record 1 of Set 1 | Nicosia winery Italy
-----------------------------
Data Retrieval Complete
-----------------------------
Processing Record 2 of Set 1 | Quinta dos Avidagos winery Portugal
-----------------------------
Data Retrieval Complete
-----------------------------
Processing Record 3 of Set 1 | St. Julian winery US
-----------------------------
Data Retrieval Complete
-----------------------------
Processing Record 4 of Set 1 | Sweet Cheeks winery US
-----------------------------
Data Retrieval Complete
-----------------------------
Processing Record 5 of Set 1 | Tandem winery Spain
-----------------------------
Data Retrieval Complete
-----------------------------
Processing Record 6 of Set 1 | Terre di Giurfo winery Italy
-----------------------------
Data Retrieval Complete
-----------------------------
Processing Record 7 of Set 1 | Trimbach winery France
-----------------------------
Data Retrieval Complete
-----------------------------
Processing Record 8 of Set 1 | Heinz Eifel winery Germany
-----------------------------
Data Retrieval Complete
-----------------------------
Processing Record 9 of Set 1 | Jean-Baptiste Adam winery France
-----------------------------
Data Retrieval Complete
-----------------------------

In [30]:
# Convert the array of dictionaries to a Pandas DataFrame.
winery_weather_data_df = pd.DataFrame(winery_weather_data)
winery_weather_data_df

,Winery,June Avg Min Temp,June Avg Max Temp,June Mean Humidity,July Avg Min Temp,July Avg Max Temp,July Mean Humidity,Aug Avg Min Temp,Aug Avg Max Temp,Aug Mean Humidity
0,Nicosia winery Italy,285.56,307.50,63.05,289.20,310.57,63.05,289.86,308.57,62.48
1,Quinta dos Avidagos winery Portugal,282.74,305.52,74.56,286.17,306.59,74.56,284.77,307.50,73.54
2,St. Julian winery US,280.99,305.90,70.18,284.69,305.53,70.18,282.80,305.44,75.91
3,Sweet Cheeks winery US,279.38,306.31,65.47,281.80,308.22,65.47,282.42,309.70,60.27
4,Tandem winery Spain,281.61,307.87,72.03,284.38,309.27,72.03,282.77,308.50,71.33
5,Terre di Giurfo winery Italy,286.30,307.35,64.20,289.83,310.20,64.20,291.29,308.87,66.60
6,Trimbach winery France,281.08,306.64,70.47,282.68,308.56,70.47,282.13,307.00,71.67
7,Heinz Eifel winery Germany,289.14,307.18,75.36,290.85,308.14,75.36,290.72,308.70,75.50
8,Jean-Baptiste Adam winery France,281.08,306.64,70.47,282.68,308.56,70.47,282.13,307.00,71.67

In [ ]:
#next step is to merge this df with the wine review df