In [1]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib as mb

In [3]:
# import dataset
wine_review_df = pd.read_csv("winemag-data-130k-v2.csv")
wine_review_df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [4]:
# Find total # of rows and columns
wine_review_df.shape

(129971, 14)

In [5]:
wine_review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129971 entries, 0 to 129970
Data columns (total 14 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             129971 non-null  int64
 1   country                129908 non-null  object
 2   description            129971 non-null  object
 3   designation            92506 non-null   object
 4   points                 129971 non-null  int64
 5   price                  120975 non-null  float64
 6   province               129908 non-null  object
 7   region_1               108724 non-null  object
 8   region_2               50511 non-null   object
 9   taster_name            103727 non-null  object
 10  taster_twitter_handle  98758 non-null   object
 11  title                  129971 non-null  object
 12  variety                129970 non-null  object
 13  winery                 129971 non-null  object
dtypes: float64(1), int64(2), object(11)
memory usage: 13.9+ MB

In [22]:
# Select only rows with >=95 points.
best_review_df = wine_review_df.loc[(wine_review_df['points'] >= 95)]
best_review_df.shape

(2416, 14)

In [23]:
# Select rows with >= 95 points in US only.
US_best_review_df = wine_review_df.loc[(wine_review_df['points'] >= 95) & (wine_review_df['country'] == 'US')]
US_best_review_df.shape

(993, 14)

In [12]:
# Determine how many unique countries are included.
best_review_df['country'].unique()

array(['Australia', 'Germany', 'Italy', 'Hungary', 'US', 'France',
       'Spain', 'Portugal', 'Argentina', 'England', 'South Africa',
       'Austria', 'Chile', 'New Zealand'], dtype=object)

In [20]:
US_best_review_df['region_1'].unique()

array(['Russian River Valley', 'Diamond Mountain District',
       'Dundee Hills', 'Columbia Valley (WA)', 'Sonoma Coast',
       'Napa Valley', 'Oakville', 'Red Mountain', 'Sonoma Valley',
       'Willamette Valley', 'Rutherford', 'Fort Ross-Seaview',
       'Mt. Harlan', 'Santa Maria Valley', 'Santa Barbara County',
       'Walla Walla Valley (WA)', 'Coombsville', 'Anderson Valley',
       'St. Helena', 'Arroyo Grande Valley', 'Wahluke Slope',
       'Howell Mountain', 'Santa Lucia Highlands', 'Santa Ynez Valley',
       'Carmel Valley', 'California', 'Sta. Rita Hills', 'Mount Veeder',
       'Paso Robles', 'North Coast', 'Spring Mountain District',
       'Santa Cruz Mountains', 'Yountville', 'Alexander Valley',
       'Stags Leap District', 'Ribbon Ridge', 'San Luis Obispo County',
       'Chehalem Mountains', 'Walla Walla Valley (OR)', 'Chalk Hill',
       'Carneros', 'Columbia Valley (OR)', 'Yakima Valley',
       'Horse Heaven Hills', 'Green Valley', 'Ballard Canyon',
       'Edna Valley', 'McMinnville', 'Ben Lomond Mountain',
       'Columbia Gorge (OR)', 'Washington', 'Yorkville Highlands',
       'Calistoga', 'Snipes Mountain', 'Sierra Foothills',
       'Shenandoah Valley (CA)', 'Sonoma Mountain',
       'Templeton Gap District', 'Oregon', 'Knights Valley',
       'Central Coast', 'Livermore Valley', 'El Dorado',
       'Mendocino Ridge', 'Napa-Monterey-Mendocino', 'Adelaida District',
       'Sonoma County', 'Atlas Peak', 'Happy Canyon of Santa Barbara',
       'Amador County', 'Oak Knoll District', 'Fiddletown',
       'Napa-Mendocino-Sonoma-Marin', 'Columbia Gorge (WA)',
       'Rattlesnake Hills'], dtype=object)

In [18]:
US_best_review_df['region_2'].unique()

array(['Sonoma', 'Napa', 'Willamette Valley', 'Columbia Valley',
       'Central Coast', nan, 'California Other', 'North Coast',
       'Oregon Other', 'Napa-Sonoma', 'Washington Other',
       'Sierra Foothills'], dtype=object)