In [1]:
# Initial imports.
import pandas as pd
import numpy as np
from numpy import random
import os
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Import RDS password
from config import rds_pwd

import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
spark_version = 'spark-3.0.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

spark_version = 'spark-3.0.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:9 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [60.9 kB]
Hit:10 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:11 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:13 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Ign:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [796 kB]
Hit:15 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:16 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:18 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,769 kB]
Get:19 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [423 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,152 kB]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,412 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [452 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,583 kB]
Get:24 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [905 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,183 kB]
Get:26 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [41.5 kB]
Fetched 13.1 MB in 4s (3,077 kB/s)
Reading package lists... Done
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:3 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:5 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [2]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-05-25 02:24:36--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  4.79MB/s    in 0.2s

2021-05-25 02:24:37 (4.79 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Wine-Project").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [4]:
# Configure settings for RDS
mode = "append"
#jdbc_url="jdbc:postgresql://<connection string>:5432/<database-name>"
jdbc_url="jdbc:postgresql://wine-final-project.czqkltznl3rl.us-east-2.rds.amazonaws.com/winedb"
#config = {"user":"postgres",
          #"password": "<password>",
          #"driver":"org.postgresql.Driver"}
config = {"user":"wineuser",
          "password": rds_pwd,
          "driver":"org.postgresql.Driver"}

In [129]:
#select_sql = "(SELECT points, variety, avg_temp, avg_airp, avg_humid, avg_precip FROM machine"
wine_rds = spark.read.jdbc(url=jdbc_url, table='weather_mapscaled', properties=config)
#county_df = spark.read.jdbc(url=jdbc_url, table='counties', properties=config)
wine_rds.show()

+--------------------+---+----+--------------------+--------------------+--------------------+--------------------+------------+------+------------------+--------------------+
|  winery_search_term|lat| lng|            avg_temp|            avg_airp|           avg_humid|          avg_precip|     country|points|           variety|              winery|
+--------------------+---+----+--------------------+--------------------+--------------------+--------------------+------------+------+------------------+--------------------+
|   LaZarre winery US| 36|-121|279.6850000000000...|1018.230000000000...|73.42000000000000...|0.025000000000000000|          US|    88|        Chardonnay|             LaZarre|
|Negretti winery I...| 45|   8|275.6025000000000...|1016.337500000000...|79.04000000000000...|0.070000000000000000|       Italy|    88|        Chardonnay|            Negretti|
|Pico Maccario win...| 45|   8|280.6950000000000...|1017.880000000000...|70.50250000000000...|0.147500000000000000|       Italy|    85|        Chardonnay|       Pico Maccario|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    85|        Chardonnay|             Farnese|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    86|        Chardonnay|             Farnese|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    85|        Chardonnay|             Farnese|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    88|        Chardonnay|             Farnese|
|Castellargo winer...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    85|        Chardonnay|         Castellargo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    85|   Sauvignon Blanc|          Di Lenardo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    86|        Chardonnay|          Di Lenardo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    85|        Chardonnay|          Di Lenardo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    87|        Chardonnay|          Di Lenardo|
|A.A. Badenhorst F...|-34|  19|293.1100000000000...|1003.365000000000...|66.92750000000000...|0.255000000000000000|South Africa|    85|              Rosé|A.A. Badenhorst F...|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    85|Cabernet Sauvignon|          Post House|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    85|Cabernet Sauvignon|          Post House|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    88|            Merlot|          Post House|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    88|            Merlot|          Post House|
|Ladoucette winery...| 47|   3|278.4050000000000...|1019.597500000000...|90.47500000000000...|0.062500000000000000|      France|    86|   Sauvignon Blanc|          Ladoucette|
|   Paschal winery US| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|          US|    86|        Pinot Noir|             Paschal|
|   Paschal winery US| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|          US|    88|        Chardonnay|             Paschal|
+--------------------+---+----+--------------------+--------------------+--------------------+--------------------+------------+------+------------------+--------------------+
only showing top 20 rows

In [130]:
wine_rds.columns

['winery_search_term',
 'lat',
 'lng',
 'avg_temp',
 'avg_airp',
 'avg_humid',
 'avg_precip',
 'country',
 'points',
 'variety',
 'winery']

In [131]:
wine_ids = wine_rds.select('country',
 'points',
 'variety',
 'winery')
wine_ids.dtypes

[('country', 'string'),
 ('points', 'int'),
 ('variety', 'string'),
 ('winery', 'string')]

In [132]:
allwines = pd.DataFrame(wine_rds.select('lat',
 'lng',
 'avg_temp',
 'avg_airp',
 'avg_humid',
 'avg_precip','points','variety').collect(), columns=['lat',
 'lng',
 'avg_temp',
 'avg_airp',
 'avg_humid',
 'avg_precip','points','variety'], dtype=float)
allwines.dtypes

lat           float64
lng           float64
avg_temp      float64
avg_airp      float64
avg_humid     float64
avg_precip    float64
points        float64
variety        object
dtype: object

In [184]:
uscounties = spark.read.jdbc(url=jdbc_url, table='uscounty', properties=config)
uscounties.show(5)

+----+---+---+---------+--------+-------------+-----------+--------------------+--------------------+--------------------+--------------------+
| zip|lat|lng|     city|state_id|   state_name|county_name|            avg_temp|            avg_airp|           avg_humid|          avg_precip|
+----+---+---+---------+--------+-------------+-----------+--------------------+--------------------+--------------------+--------------------+
|1001| 42|-73|   Agawam|      MA|Massachusetts|    Hampden|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1002| 42|-72|  Amherst|      MA|Massachusetts|  Hampshire|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1005| 42|-72|    Barre|      MA|Massachusetts|  Worcester|270.7250000000000...|1014.960000000000...|71.75250000000000...|0.135000000000000000|
|1029| 42|-73|East Otis|      MA|Massachusetts|  Berkshire|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1054| 42|-72| Leverett|      MA|Massachusetts|   Franklin|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
+----+---+---+---------+--------+-------------+-----------+--------------------+--------------------+--------------------+--------------------+
only showing top 5 rows

In [185]:
uscounties.columns

['zip',
 'lat',
 'lng',
 'city',
 'state_id',
 'state_name',
 'county_name',
 'avg_temp',
 'avg_airp',
 'avg_humid',
 'avg_precip']

In [186]:
county_ids = pd.DataFrame((uscounties.select('zip',
                                             'city',
                                             'state_id',
                                             'state_name',
                                             'county_name').collect()), columns=['zip',
                                             'city',
                                             'state_id',
                                             'state_name',
                                             'county_name']).dropna()
county_ids.head(4)

    zip       city state_id     state_name county_name
0  1001     Agawam       MA  Massachusetts     Hampden
1  1002    Amherst       MA  Massachusetts   Hampshire
2  1005      Barre       MA  Massachusetts   Worcester
3  1029  East Otis       MA  Massachusetts   Berkshire

In [187]:
len(county_ids)

1797

In [188]:
bigcounty = pd.DataFrame((uscounties.select('zip',
 'lat',
 'lng',
 'avg_temp',
 'avg_airp',
 'avg_humid',
 'avg_precip').collect()), columns=['zip',
 'lat',
 'lng',
 'avg_temp',
 'avg_airp',
 'avg_humid',
 'avg_precip'], dtype=float).dropna()
bigcounty.dtypes

zip           float64
lat           float64
lng           float64
avg_temp      float64
avg_airp      float64
avg_humid     float64
avg_precip    float64
dtype: object

In [189]:
len(bigcounty)

1795

In [190]:
countydrops = ['zip']

In [191]:
allwines['variety'].unique()

array(['Chardonnay', 'Sauvignon Blanc', 'Rosé', 'Cabernet Sauvignon',
       'Merlot', 'Pinot Noir', 'Riesling', 'Syrah'], dtype=object)

In [192]:
mer_df = allwines[allwines['variety'] == 'Merlot']
syr_df = allwines[allwines['variety'] == 'Syrah']
savyb_df = allwines[allwines['variety'] == 'Sauvignon Blanc']
ries_df = allwines[allwines['variety'] == 'Riesling']
cabsav_df = allwines[allwines['variety'] == 'Cabernet Sauvignon']
char_df = allwines[allwines['variety'] == 'Chardonnay']
pino_df = allwines[allwines['variety'] == 'Pinot Noir']

In [193]:
mer_df.dtypes

lat           float64
lng           float64
avg_temp      float64
avg_airp      float64
avg_humid     float64
avg_precip    float64
points        float64
variety        object
dtype: object

In [194]:
winedropcols = ['points','variety']

In [195]:
#features and targets
variety = mer_df.copy()
y = variety['points']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestRegressor(n_estimators=200, random_state=99)
rf.fit(X, y)
rf.score(X,y)

0.31708703561405066

In [196]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=countydrops)
mer_preds = rf.predict(Xcount)

In [197]:
#features and targets
variety = syr_df
y = variety['points']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestRegressor(n_estimators=200, random_state=99)
rf.fit(X, y)
rf.score(X,y)

0.24766239118394037

In [198]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=countydrops)
syr_preds = rf.predict(Xcount)

In [199]:
#features and targets
variety = savyb_df
y = variety['points']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestRegressor(n_estimators=200, random_state=99)
rf.fit(X, y)
rf.score(X,y)

0.2740873924253874

In [200]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=countydrops)
savyb_preds = rf.predict(Xcount)

In [201]:
#features and targets
variety = ries_df
y = variety['points']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestRegressor(n_estimators=200, random_state=99)
rf.fit(X, y)
rf.score(X,y)

0.32150114413761166

In [202]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=countydrops)
ries_preds = rf.predict(Xcount)

In [203]:
#features and targets
variety = cabsav_df
y = variety['points']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestRegressor(n_estimators=200, random_state=99)
rf.fit(X, y)
rf.score(X,y)

0.2602562254348104

In [204]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=countydrops)
cabsav_preds = rf.predict(Xcount)

In [205]:
#features and targets
variety = char_df
y = variety['points']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestRegressor(n_estimators=200, random_state=99)
rf.fit(X, y)
rf.score(X,y)

0.281147493665847

In [206]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=countydrops)
char_preds = rf.predict(Xcount)

In [207]:
#features and targets
variety = pino_df
y = variety['points']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestRegressor(n_estimators=200, random_state=99)
rf.fit(X, y)
rf.score(X,y)

0.1950767218357803

In [208]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=countydrops)
pino_preds = rf.predict(Xcount)

In [209]:
counties_preds = bigcounty.copy()
counties_preds['mer_points'] = mer_preds
counties_preds['syr_points'] = syr_preds
counties_preds['savyb_points'] = savyb_preds
counties_preds['ries_points'] = ries_preds
counties_preds['cabsav_points'] = cabsav_preds
counties_preds['char_points'] = char_preds
counties_preds['pinot_points'] = pino_preds

In [210]:
counties_preds.describe()

                zip          lat  ...  char_points  pinot_points
count   1795.000000  1795.000000  ...  1795.000000   1795.000000
mean   50734.467967    38.357103  ...    86.668671     87.569186
std    24597.722869     5.101211  ...     1.592718      1.696042
min     1001.000000    26.000000  ...    82.193786     82.812724
25%    30127.000000    34.000000  ...    85.667427     86.443757
50%    50515.000000    38.000000  ...    86.617376     87.418991
75%    71632.500000    42.000000  ...    87.542553     88.553000
max    99401.000000    49.000000  ...    92.952938     93.428774

[8 rows x 14 columns]

In [211]:
savyb_df.describe()

               lat          lng  ...   avg_precip       points
count  4718.000000  4718.000000  ...  4718.000000  4718.000000
mean     20.845485   -47.642433  ...     0.096221    87.454854
std      33.964335    87.643879  ...     0.081495     2.681127
min     -49.000000  -124.000000  ...     0.000000    80.000000
25%     -33.000000  -121.000000  ...     0.057500    86.000000
50%      38.000000   -77.000000  ...     0.077500    87.000000
75%      43.000000     3.000000  ...     0.145000    89.000000
max      53.000000   178.000000  ...     0.917500    96.000000

[8 rows x 7 columns]

In [212]:
county_output = county_ids.merge(counties_preds, how='left', on='zip')
county_output.describe()

                zip          lat  ...  char_points  pinot_points
count   1797.000000  1795.000000  ...  1795.000000   1795.000000
mean   50714.359488    38.357103  ...    86.668671     87.569186
std    24597.447200     5.101211  ...     1.592718      1.696042
min     1001.000000    26.000000  ...    82.193786     82.812724
25%    30122.000000    34.000000  ...    85.667427     86.443757
50%    50451.000000    38.000000  ...    86.617376     87.418991
75%    71630.000000    42.000000  ...    87.542553     88.553000
max    99401.000000    49.000000  ...    92.952938     93.428774

[8 rows x 14 columns]

In [213]:
#counties_preds.to_csv('county_predictions.csv')
#counties_preds.to_json('county_predictions.json')

In [214]:
#spark_counties = spark.createDataFrame(counties_preds)
#spark_counties.show()

In [215]:
#spark_counties.write.jdbc(url=jdbc_url, table='county_predictions', mode=mode, properties=config)

In [216]:
#sparked_preds = spark.read.jdbc(url=jdbc_url, table='county_predictions', properties=config)

In [217]:
#sparked_preds.show()

In [218]:
#winners_df = pd.DataFrame(sparked_preds.select('zip','lat','lng','state_id','county_name','mer_success','rose_success','syr_success','savyb_success','ries_success','cabsav_success','char_success','pinot_success').collect(), columns=['zip','lat','lng','state','county_name','mer_success','rose_success','syr_success','savyb_success','ries_success','cabsav_success','char_success','pinot_success'], dtype=float)
#winners_df.describe()

In [219]:
#winners_df.columns

In [220]:
#winners_df

In [221]:
#winners_df['mer_success'].value_counts()