In [ ]:
# Initial imports.
import pandas as pd
import numpy as np
from numpy import random
import os
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Import RDS password
from config import rds_pwd

import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
spark_version = 'spark-3.0.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

spark_version = 'spark-3.0.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 252 kB in 2s (112 kB/s)
Reading package lists... Done
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:8 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:14 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:15 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Fetched 252 kB in 2s (117 kB/s)
Reading package lists... Done

In [ ]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-05-13 03:35:29--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar.5’

postgresql-42.2.16. 100%[===================>] 979.38K  --.-KB/s    in 0.08s

2021-05-13 03:35:30 (11.6 MB/s) - ‘postgresql-42.2.16.jar.5’ saved [1002883/1002883]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Wine-Project").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [ ]:
# Configure settings for RDS
mode = "append"
#jdbc_url="jdbc:postgresql://<connection string>:5432/<database-name>"
jdbc_url="jdbc:postgresql://wine-final-project.czqkltznl3rl.us-east-2.rds.amazonaws.com/winedb"
#config = {"user":"postgres",
          #"password": "<password>",
          #"driver":"org.postgresql.Driver"}
config = {"user":"wineuser",
          "password": rds_pwd,
          "driver":"org.postgresql.Driver"}

In [ ]:
select_sql = "(SELECT points, variety, avg_temp, avg_airp, avg_humid, avg_precip FROM machine"
wine_df = spark.read.jdbc(url=jdbc_url, table='weather_mapscaled', properties=config)
#county_df = spark.read.jdbc(url=jdbc_url, table='counties', properties=config)
wine_df.show()

+--------------------+---+----+--------------------+--------------------+--------------------+--------------------+------------+------+------------------+--------------------+
|  winery_search_term|lat| lng|            avg_temp|            avg_airp|           avg_humid|          avg_precip|     country|points|           variety|              winery|
+--------------------+---+----+--------------------+--------------------+--------------------+--------------------+------------+------+------------------+--------------------+
|   LaZarre winery US| 36|-121|279.6850000000000...|1018.230000000000...|73.42000000000000...|0.025000000000000000|          US|    88|        Chardonnay|             LaZarre|
|Negretti winery I...| 45|   8|275.6025000000000...|1016.337500000000...|79.04000000000000...|0.070000000000000000|       Italy|    88|        Chardonnay|            Negretti|
|Pico Maccario win...| 45|   8|280.6950000000000...|1017.880000000000...|70.50250000000000...|0.147500000000000000|       Italy|    85|        Chardonnay|       Pico Maccario|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    85|        Chardonnay|             Farnese|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    86|        Chardonnay|             Farnese|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    85|        Chardonnay|             Farnese|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    88|        Chardonnay|             Farnese|
|Castellargo winer...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    85|        Chardonnay|         Castellargo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    85|   Sauvignon Blanc|          Di Lenardo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    86|        Chardonnay|          Di Lenardo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    85|        Chardonnay|          Di Lenardo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    87|        Chardonnay|          Di Lenardo|
|A.A. Badenhorst F...|-34|  19|293.1100000000000...|1003.365000000000...|66.92750000000000...|0.255000000000000000|South Africa|    85|              Rosé|A.A. Badenhorst F...|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    85|Cabernet Sauvignon|          Post House|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    85|Cabernet Sauvignon|          Post House|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    88|            Merlot|          Post House|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    88|            Merlot|          Post House|
|Ladoucette winery...| 47|   3|278.4050000000000...|1019.597500000000...|90.47500000000000...|0.062500000000000000|      France|    86|   Sauvignon Blanc|          Ladoucette|
|   Paschal winery US| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|          US|    86|        Pinot Noir|             Paschal|
|   Paschal winery US| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|          US|    88|        Chardonnay|             Paschal|
+--------------------+---+----+--------------------+--------------------+--------------------+--------------------+------------+------+------------------+--------------------+
only showing top 20 rows

In [ ]:
allwines = wine_df.select('variety','lat','lng','avg_temp','avg_airp','avg_humid','avg_precip', (wine_df.points >= 90).alias('success'))
allwines.show()

+------------------+---+----+--------------------+--------------------+--------------------+--------------------+-------+
|           variety|lat| lng|            avg_temp|            avg_airp|           avg_humid|          avg_precip|success|
+------------------+---+----+--------------------+--------------------+--------------------+--------------------+-------+
|        Chardonnay| 36|-121|279.6850000000000...|1018.230000000000...|73.42000000000000...|0.025000000000000000|  false|
|        Chardonnay| 45|   8|275.6025000000000...|1016.337500000000...|79.04000000000000...|0.070000000000000000|  false|
|        Chardonnay| 45|   8|280.6950000000000...|1017.880000000000...|70.50250000000000...|0.147500000000000000|  false|
|        Chardonnay| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|  false|
|        Chardonnay| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|  false|
|        Chardonnay| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|  false|
|        Chardonnay| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|  false|
|        Chardonnay| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|   Sauvignon Blanc| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|        Chardonnay| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|        Chardonnay| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|        Chardonnay| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|              Rosé|-34|  19|293.1100000000000...|1003.365000000000...|66.92750000000000...|0.255000000000000000|  false|
|Cabernet Sauvignon| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|  false|
|Cabernet Sauvignon| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|  false|
|            Merlot| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|  false|
|            Merlot| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|  false|
|   Sauvignon Blanc| 47|   3|278.4050000000000...|1019.597500000000...|90.47500000000000...|0.062500000000000000|  false|
|        Pinot Noir| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|  false|
|        Chardonnay| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|  false|
+------------------+---+----+--------------------+--------------------+--------------------+--------------------+-------+
only showing top 20 rows

In [ ]:
mer_df = allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Merlot').collect()
#mer_df = wine_df.select(variety='Merlot').collect()
merlot = pd.DataFrame(mer_df, columns=['lat','lng','avg_temp','avg_airp','avg_humid','avg_precid','success'], dtype=float)
merlot

       lat    lng  avg_temp   avg_airp  avg_humid  avg_precid  success
0     36.0  -87.0  277.1825  1020.1425    77.9250      0.1875      0.0
1     36.0  -87.0  277.1825  1020.1425    77.9250      0.1875      0.0
2     42.0 -123.0  276.0250  1019.8875    85.4525      0.0575      0.0
3     44.0 -123.0  276.0250  1019.8875    85.4525      0.0575      0.0
4     36.0  -84.0  277.3750  1020.0125    79.1975      0.2350      0.0
...    ...    ...       ...        ...        ...         ...      ...
2969  41.0  -72.0  272.7475  1016.8375    70.1425      0.1400      0.0
2970  41.0  -72.0  272.7475  1016.8375    70.1425      0.1400      0.0
2971  41.0  -72.0  272.7475  1016.8375    70.1425      0.1400      0.0
2972  35.0  -84.0  280.4425  1019.8050    73.0225      0.2600      0.0
2973  36.0 -121.0  279.6850  1018.2300    73.4200      0.0250      0.0

[2974 rows x 7 columns]

In [ ]:
merlot.dtypes

lat           float64
lng           float64
avg_temp      float64
avg_airp      float64
avg_humid     float64
avg_precid    float64
success       float64
dtype: object

In [ ]:
#allwine = pd.DataFrame(allwines)
#allwine['success'] = (allwine['points'] >= 90).astype(int)

In [ ]:
#counties = '/content/uscounty_weather.csv'
#wineweather = '/content/weather_mapscaled.csv'
#county_df = pd.read_csv(counties, index_col=0)
#wine_df = pd.read_csv(wineweather)

In [ ]:
#county_df.columns

In [ ]:
#zipdrops = ['zip', 'city', 'state_id', 'state_name', 'county_name']

In [ ]:
#zipdata = county_df.dropna()
#zipdata.columns

In [ ]:
#wine_df['success'] = (wine_df['points'] >= 90).astype(int)
#wine_df['success'].value_counts()

In [ ]:
#wine_df.columns

In [ ]:
winedropcols = ['success']

In [ ]:
#learndropcols = ['latitude', 'longitude', 'Average Temperature (Kelvin)','Average Air Pressure (hPa)', 'Average Humidity (%)','Average Daily Precipitation (mm)', 'success']

In [ ]:
#def splitwines(winedata, point_thresh, winetype):
  
  #winedata['success'] = (winedata['points'] >= point_thresh).astype(int)
  #varieties = list(winedata['variety'].unique())
  #vardfs = {}
  #for variety in varieties:
  #  vardfs[variety] = winedata[winedata['variety'] == variety].drop(columns=winedropcols)
  #return vardfs[conv].columns

In [ ]:
#splitwines(wine_df, 90)

In [ ]:
#def learnwine (varietydict, variety, zipdata):
 # usewine = varietydict[variety]
  #y = usewine['success']
#  X = usewine.drop(columns='success')
 # X_train, X_test, y_train, y_test = train_test_split(X,y)
#  rf = RandomForestClassifier(n_estimators=200)
#  rf.fit(X,y)
#  testpreds = rf.predict(X_test)
#  acc_score = accuracy_score(y_test, testpreds)
#  counties = zipdata.drop(columns=dropcounties)
#  preds = rf.predict(counties)
#  return acc_score, preds

In [ ]:
#def biglearn (winedata, cutoff, winetype, zipdata):
#  countypreds = zipdata.copy()
#  targvar = str(winetype)
#  predcounties = zipdata['zip']
#  winedata['success'] = (winedata['points'] >= cutoff).astype(int)
#  varieties = list(winedata['variety'].unique())
#  vardfs = {}
#  for variety in varieties:
#    vardfs[variety] = winedata[winedata['variety'] == variety].drop(columns=winedropcols)
#  usewine = vardfs[targvar]
 # y = usewine['success']
 # X = usewine.drop(columns='success')
#  Xcounts = zipdata.drop(columns=['zip', 'city', 'state_id', 'state_name', 'county_name'])
#  X_train, X_test, y_train, y_test = train_test_split(X,y)
#  rf = RandomForestClassifier(n_estimators=200)
#  rf.fit(X,y)
#  testpreds = rf.predict(X_test)
#  acc_score = accuracy_score(y_test, testpreds)
#  cpreds = rf.predict(Xcounts)
#  countypreds[targvar] = cpreds
#    
#  return print(acc_score, countypreds[targvar].value_counts())

In [ ]:
#biglearn(wine_df, 89, 'Merlot', zipdata)

In [ ]:
#teststr('Merlot')

In [ ]:
county_weath = spark.read.jdbc(url=jdbc_url, table='uscounty', properties=config)
county_weath.show()

+----+---+---+------------+--------+-------------+------------+--------------------+--------------------+--------------------+--------------------+
| zip|lat|lng|        city|state_id|   state_name| county_name|            avg_temp|            avg_airp|           avg_humid|          avg_precip|
+----+---+---+------------+--------+-------------+------------+--------------------+--------------------+--------------------+--------------------+
|1001| 42|-73|      Agawam|      MA|Massachusetts|     Hampden|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1002| 42|-72|     Amherst|      MA|Massachusetts|   Hampshire|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1005| 42|-72|       Barre|      MA|Massachusetts|   Worcester|270.7250000000000...|1014.960000000000...|71.75250000000000...|0.135000000000000000|
|1029| 42|-73|   East Otis|      MA|Massachusetts|   Berkshire|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1054| 42|-72|    Leverett|      MA|Massachusetts|    Franklin|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1431| 43|-72|       Ashby|      MA|Massachusetts|   Middlesex|270.6650000000000...|1016.715000000000...|69.78500000000000...|0.132500000000000000|
|1810| 43|-71|     Andover|      MA|Massachusetts|       Essex|270.6650000000000...|1016.715000000000...|69.78500000000000...|0.132500000000000000|
|2019| 42|-71|  Bellingham|      MA|Massachusetts|     Norfolk|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2043| 42|-71|     Hingham|      MA|Massachusetts|    Plymouth|271.7750000000000...|1016.035000000000...|69.25250000000000...|0.135000000000000000|
|2048| 42|-71|   Mansfield|      MA|Massachusetts|     Bristol|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2108| 42|-71|      Boston|      MA|Massachusetts|     Suffolk|271.7475000000000...|1016.092500000000...|69.65500000000000...|0.135000000000000000|
|2532| 42|-71|Buzzards Bay|      MA|Massachusetts|  Barnstable|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2535| 41|-71|    Chilmark|      MA|Massachusetts|       Dukes|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2554| 41|-70|   Nantucket|      MA|Massachusetts|   Nantucket|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2802| 42|-71|      Albion|      RI| Rhode Island|  Providence|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2804| 41|-72|     Ashaway|      RI| Rhode Island|  Washington|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2816| 42|-72|    Coventry|      RI| Rhode Island|        Kent|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2835| 42|-71|   Jamestown|      RI| Rhode Island|     Newport|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|3031| 43|-72|     Amherst|      NH|New Hampshire|Hillsborough|269.7375000000000...|1015.325000000000...|69.26250000000000...|0.097500000000000000|
|3032| 43|-71|      Auburn|      NH|New Hampshire|  Rockingham|269.7375000000000...|1015.325000000000...|69.26250000000000...|0.097500000000000000|
+----+---+---+------------+--------+-------------+------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
county_df = county_weath.select('*').collect()
county = pd.DataFrame(county_df, columns=['zip','lat','lng','city','state_id','state_name','county_name','avg_temp','avg_airp','avg_humid','avg_precip'])
counties = county.dropna()
counties.head(2)

    zip  lat  ...              avg_humid            avg_precip
0  1001   42  ...  72.215000000000000000  0.125000000000000000
1  1002   42  ...  72.215000000000000000  0.125000000000000000

[2 rows x 11 columns]

In [ ]:
counties.dtypes

zip             int64
lat             int64
lng             int64
city           object
state_id       object
state_name     object
county_name    object
avg_temp       object
avg_airp       object
avg_humid      object
avg_precip     object
dtype: object

In [ ]:
mer_df = pd.DataFrame(allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Merlot').collect(), columns=['lat','lng','avg_temp','avg_airp','avg_humid','avg_precid','success'], dtype=float)
rose_df = pd.DataFrame(allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Rosé').collect(), columns=['lat','lng','avg_temp','avg_airp','avg_humid','avg_precid','success'], dtype=float)
syr_df = pd.DataFrame(allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Syrah').collect(), columns=['lat','lng','avg_temp','avg_airp','avg_humid','avg_precid','success'], dtype=float)
savyb_df = pd.DataFrame(allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Sauvignon Blanc').collect(), columns=['lat','lng','avg_temp','avg_airp','avg_humid','avg_precid','success'], dtype=float)
ries_df = pd.DataFrame(allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Riesling').collect(), columns=['lat','lng','avg_temp','avg_airp','avg_humid','avg_precid','success'], dtype=float)
cabsav_df = pd.DataFrame(allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Cabernet Sauvignon').collect(), columns=['lat','lng','avg_temp','avg_airp','avg_humid','avg_precid','success'], dtype=float)
char_df = pd.DataFrame(allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Chardonnay').collect(), columns=['lat','lng','avg_temp','avg_airp','avg_humid','avg_precid','success'], dtype=float)
pino_df = pd.DataFrame(allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Pinot Noir').collect(), columns=['lat','lng','avg_temp','avg_airp','avg_humid','avg_precid','success'], dtype=float)

In [ ]:
mer_df.dtypes

lat           float64
lng           float64
avg_temp      float64
avg_airp      float64
avg_humid     float64
avg_precid    float64
success       float64
dtype: object

In [ ]:
#features and targets
variety = mer_df.copy()
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.7768817204301075

In [ ]:
#using model to predict the counties
Xcount = counties.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
mer_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = rose_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.8263403263403264

In [ ]:
#using model to predict the counties
Xcount = counties.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
rose_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = syr_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.6832993890020367

In [ ]:
#using model to predict the counties
Xcount = counties.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
syr_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = savyb_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.7627118644067796

In [ ]:
#using model to predict the counties
Xcount = counties.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
savyb_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = ries_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.7282693813625685

In [ ]:
#using model to predict the counties
Xcount = counties.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
ries_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = cabsav_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.7054017249205629

In [ ]:
#using model to predict the counties
Xcount = counties.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
cabsav_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = char_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.6952212389380531

In [ ]:
#using model to predict the counties
Xcount = counties.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
char_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = pino_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.6450490351154697

In [ ]:
#using model to predict the counties
Xcount = counties.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
pino_preds = rf.predict(Xcount)

In [ ]:
counties_preds = counties.copy()
counties_preds['mer_success'] = mer_preds
counties_preds['rose_success'] = rose_preds
counties_preds['syr_success'] = syr_preds
counties_preds['savyb_success'] = savyb_preds
counties_preds['ries_success'] = ries_preds
counties_preds['cabsav_success'] = cabsav_preds
counties_preds['char_success'] = char_preds
counties_preds['pinot_success'] = pino_preds

In [ ]:
counties_preds.head()

    zip  lat  lng  ... cabsav_success char_success pinot_success
0  1001   42  -73  ...            0.0          0.0           1.0
1  1002   42  -72  ...            0.0          0.0           1.0
2  1005   42  -72  ...            0.0          0.0           1.0
3  1029   42  -73  ...            0.0          0.0           1.0
4  1054   42  -72  ...            0.0          0.0           1.0

[5 rows x 19 columns]

In [ ]:
#counties_preds.to_csv('county_predictions.csv')

In [ ]:
spark_counties = spark.createDataFrame(counties_preds)

In [ ]:
spark_counties.write.jdbc(url=jdbc_url, table='county_predictions', mode=mode, properties=config)

In [ ]:
sparked_preds = spark.read.jdbc(url=jdbc_url, table='county_predictions', properties=config)

In [ ]:
sparked_preds.show()

+-----+---+---+--------------+--------+----------+-------------+--------------------+--------------------+--------------------+--------------------+-----------+------------+-----------+-------------+------------+--------------+------------+-------------+
|  zip|lat|lng|          city|state_id|state_name|  county_name|            avg_temp|            avg_airp|           avg_humid|          avg_precip|mer_success|rose_success|syr_success|savyb_success|ries_success|cabsav_success|char_success|pinot_success|
+-----+---+---+--------------+--------+----------+-------------+--------------------+--------------------+--------------------+--------------------+-----------+------------+-----------+-------------+------------+--------------+------------+-------------+
|50515| 43|-95|      Ayrshire|      IA|      Iowa|    Palo Alto|263.4875000000000...|1013.162500000000...|80.39500000000000...|0.015000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|50519| 43|-94|          Bode|      IA|      Iowa|     Humboldt|266.6625000000000...|1019.822500000000...|74.75750000000000...|0.005000000000000000|        0.0|         0.0|        0.0|          1.0|         0.0|           0.0|         0.0|          0.0|
|50535| 42|-95|         Early|      IA|      Iowa|          Sac|266.6700000000000...|1020.350000000000...|75.49750000000000...|0.010000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|50613| 43|-92|   Cedar Falls|      IA|      Iowa|   Black Hawk|266.1775000000000...|1018.550000000000...|79.09250000000000...|0.007500000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|50622| 43|-92|        Denver|      IA|      Iowa|       Bremer|266.1775000000000...|1018.550000000000...|79.09250000000000...|0.007500000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|51003| 43|-96|         Alton|      IA|      Iowa|        Sioux|263.4875000000000...|1013.162500000000...|80.39500000000000...|0.015000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|51004| 42|-96|        Anthon|      IA|      Iowa|     Woodbury|266.6700000000000...|1020.350000000000...|75.49750000000000...|0.010000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|51006| 42|-96|  Battle Creek|      IA|      Iowa|          Ida|266.6700000000000...|1020.350000000000...|75.49750000000000...|0.010000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|51009| 43|-96|       Calumet|      IA|      Iowa|      O'Brien|263.4875000000000...|1013.162500000000...|80.39500000000000...|0.015000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|51010| 42|-96|       Castana|      IA|      Iowa|       Monona|266.6700000000000...|1020.350000000000...|75.49750000000000...|0.010000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|51501| 41|-96|Council Bluffs|      IA|      Iowa|Pottawattamie|266.6700000000000...|1020.350000000000...|75.49750000000000...|0.010000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|51533| 41|-95|       Emerson|      IA|      Iowa|        Mills|266.6700000000000...|1020.350000000000...|75.49750000000000...|0.010000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|51639| 41|-95|      Farragut|      IA|      Iowa|      Fremont|266.6700000000000...|1020.350000000000...|75.49750000000000...|0.010000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|52001| 43|-91|       Dubuque|      IA|      Iowa|      Dubuque|266.1775000000000...|1018.550000000000...|79.09250000000000...|0.007500000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|52101| 43|-92|       Decorah|      IA|      Iowa|   Winneshiek|263.9475000000000...|1017.077500000000...|83.02250000000000...|0.012500000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|52140| 43|-92|    Dorchester|      IA|      Iowa|    Allamakee|263.9475000000000...|1017.077500000000...|83.02250000000000...|0.012500000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|52202| 42|-92|     Alburnett|      IA|      Iowa|         Linn|266.1775000000000...|1018.550000000000...|79.09250000000000...|0.007500000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|52203| 42|-92|         Amana|      IA|      Iowa|         Iowa|266.1775000000000...|1018.550000000000...|79.09250000000000...|0.007500000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|52216| 42|-91|      Clarence|      IA|      Iowa|        Cedar|266.1775000000000...|1018.550000000000...|79.09250000000000...|0.007500000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
|52501| 41|-92|       Ottumwa|      IA|      Iowa|      Wapello|266.6625000000000...|1019.822500000000...|74.75750000000000...|0.005000000000000000|        0.0|         0.0|        0.0|          0.0|         0.0|           0.0|         0.0|          0.0|
+-----+---+---+--------------+--------+----------+-------------+--------------------+--------------------+--------------------+--------------------+-----------+------------+-----------+-------------+------------+--------------+------------+-------------+
only showing top 20 rows

In [ ]:
sparked_preds.where(sparked_preds.mer._success == 1).count()

48