In [1]:
import numpy as np
import pandas as pd

In [2]:
winedat = '/content/winemag-data-130k-v2.csv'
allwine = pd.read_csv(winedat, low_memory=False)
allwine.head()

   Unnamed: 0   country  ...         variety               winery
0           0     Italy  ...     White Blend              Nicosia
1           1  Portugal  ...  Portuguese Red  Quinta dos Avidagos
2           2        US  ...      Pinot Gris            Rainstorm
3           3        US  ...        Riesling           St. Julian
4           4        US  ...      Pinot Noir         Sweet Cheeks

[5 rows x 14 columns]

In [3]:
allwine.columns

Index(['Unnamed: 0', 'country', 'description', 'designation', 'points',
       'price', 'province', 'region_1', 'region_2', 'taster_name',
       'taster_twitter_handle', 'title', 'variety', 'winery'],
      dtype='object')

In [4]:
usewine = allwine.drop(columns=['Unnamed: 0','description','designation','taster_name','taster_twitter_handle'])
usewine.head()

    country  points  ...         variety               winery
0     Italy      87  ...     White Blend              Nicosia
1  Portugal      87  ...  Portuguese Red  Quinta dos Avidagos
2        US      87  ...      Pinot Gris            Rainstorm
3        US      87  ...        Riesling           St. Julian
4        US      87  ...      Pinot Noir         Sweet Cheeks

[5 rows x 9 columns]

In [5]:
len(usewine['variety'].unique())

499

In [6]:
usewine['points'].unique()

array([ 87,  86,  85,  88,  92,  91,  90,  89,  83,  82,  81,  80, 100,
        98,  97,  96,  95,  93,  94,  84,  99])

In [7]:
usewine['country'].unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia'],
      dtype=object)

In [14]:
winecounts = usewine['variety'].value_counts()

In [17]:
winecounts[0:12]

Pinot Noir                  3401
Chardonnay                  2926
Cabernet Sauvignon          2438
Red Blend                   2332
Bordeaux-style Red Blend    1820
Riesling                    1362
Sauvignon Blanc             1342
Syrah                       1043
Rosé                         834
Merlot                       779
Nebbiolo                     721
Sangiovese                   716
Name: variety, dtype: int64

In [18]:
eightvars = ['Pinot Noir','Chardonnay','Cabernet Sauvignon','Riesling','Sauvignon Blanc','Syrah','Rosé','Merlot']

In [19]:
mostdata_wines = usewine[usewine['variety'].isin(eightvars)]
mostdata_wines.head()

   country  points  ...             variety              winery
3       US      87  ...            Riesling          St. Julian
4       US      87  ...          Pinot Noir        Sweet Cheeks
10      US      87  ...  Cabernet Sauvignon  Kirkland Signature
12      US      87  ...  Cabernet Sauvignon    Louis M. Martini
14      US      87  ...          Chardonnay            Mirassou

[5 rows x 9 columns]

In [33]:
len(mostdata_wines)

14125

In [34]:
reg1_count = len(mostdata_wines['country'].dropna())
reg1_count

14122

In [35]:
mostdata_wines.columns

Index(['country', 'points', 'price', 'province', 'region_1', 'region_2',
       'title', 'variety', 'winery'],
      dtype='object')

In [38]:
wine_review_df = mostdata_wines.drop(columns=['price','province','region_1','region_2','title'])
wine_review_df.head()

   country  points             variety              winery
3       US      87            Riesling          St. Julian
4       US      87          Pinot Noir        Sweet Cheeks
10      US      87  Cabernet Sauvignon  Kirkland Signature
12      US      87  Cabernet Sauvignon    Louis M. Martini
14      US      87          Chardonnay            Mirassou

In [39]:
#make searchterm column
wine_review_df['winery_search'] = wine_review_df['winery'] + " winery" + " " + wine_review_df['country']
wine_review_df.head()

   country  points  ...              winery                 winery_search
3       US      87  ...          St. Julian          St. Julian winery US
4       US      87  ...        Sweet Cheeks        Sweet Cheeks winery US
10      US      87  ...  Kirkland Signature  Kirkland Signature winery US
12      US      87  ...    Louis M. Martini    Louis M. Martini winery US
14      US      87  ...            Mirassou            Mirassou winery US

[5 rows x 5 columns]

In [43]:
len(wine_review_df)

14125

In [40]:
#create list of winery names to search with google maps function
winery_list = wine_review_df.winery_search.unique()
len(winery_list)

5017

In [41]:
US_winery_list = wine_review_df[wine_review_df['country'] == 'US']
US_winery_list.head()

   country  points  ...              winery                 winery_search
3       US      87  ...          St. Julian          St. Julian winery US
4       US      87  ...        Sweet Cheeks        Sweet Cheeks winery US
10      US      87  ...  Kirkland Signature  Kirkland Signature winery US
12      US      87  ...    Louis M. Martini    Louis M. Martini winery US
14      US      87  ...            Mirassou            Mirassou winery US

[5 rows x 5 columns]

In [42]:
len(US_winery_list)

8711

In [51]:
# Dependencies
import json
import requests
import logging
import time
config = '/content/config.py'

logger = logging.getLogger("root")
logger.setLevel(logging.DEBUG)
# create console handler
ch = logging.StreamHandler()
ch.setLevel(logging.DEBUG)
logger.addHandler(ch)

# Google developer API key
from config import g_key

In [52]:
g_key

'AIzaSyDruU_Xi3oOqaKE0uin8eL8Wvv_PU6huK8'

In [53]:
return_full_results = False

def get_googlemaps_results(winery, api_key=None, return_full_response=False):
    
    params = {"key": api_key, "input": winery, "inputtype": "textquery", "fields": "geometry"}

    # Set Geocoding url
    base_url = "https://maps.googleapis.com/maps/api/place/findplacefromtext/json"
        
    # Ping google for the results:
    response = requests.get(base_url, params=params)
    results = response.json()
    
    # if there are no results or an error, return empty results.

    if len(results['candidates']) == 0:
        output = {
            "latitude": None,
            "longitude": None,
        }
    else:    
        answer = results['candidates'][0]
        output = {
            "winery_search_term": winery,
            "latitude": answer.get('geometry').get('location').get('lat'),
            "longitude": answer.get('geometry').get('location').get('lng'),
        }
        
    # Append other details:    
    output['number_of_results'] = len(results['candidates'])
    output['status'] = results.get('status')
    if return_full_response is True:
        output['response'] = results
    
    return output

In [54]:
test_result = get_googlemaps_results("St. Julian winery US", g_key, return_full_results)
test_result

{'latitude': None,
 'longitude': None,
 'number_of_results': 0,
 'status': 'REQUEST_DENIED'}

In [47]:
test_winery_list = winery_list[0:10]
test_winery_list

array(['St. Julian winery US', 'Sweet Cheeks winery US',
       'Kirkland Signature winery US', 'Louis M. Martini winery US',
       'Mirassou winery US', 'Richard Böcking winery Germany',
       'Acrobat winery US', 'Bianchi winery US',
       'Castello di Amorosa winery US', 'Envolve winery US'], dtype=object)

In [ ]:
#create empty list that we will populate with for loop
winery_latlongs = []

#set output file name
output_filename = 'winery_latlong_data.csv'

# Go through each address in turn
for winery in test_winery_list:
    # While the address geocoding is not finished:
    geocoded = False
    while geocoded is not True:
        # Geocode the address with google
        try:
            geocode_result = get_googlemaps_results(winery, g_key, return_full_response=return_full_results)
        except Exception as e:
            logger.exception(e)
            logger.error("Major error with {}".format(winery))
            logger.error("Skipping!")
            geocoded = True
            
        # If we're over the API limit, backoff for a while and try again later.
        if geocode_result['status'] == 'OVER_QUERY_LIMIT':
            logger.info("Hit Query Limit! Backing off for a bit.")
            time.sleep(BACKOFF_TIME * 60) # sleep for 30 minutes
            geocoded = False
        else:
            # If we're ok with API use, save the results
            # Note that the results might be empty / non-ok - log this
            if geocode_result['status'] != 'OK':
                logger.warning("Error geocoding {}: {}".format(winery, geocode_result['status']))
            logger.debug("Geocoded: {}: {}".format(winery, geocode_result['status']))
            winery_latlongs.append(geocode_result)           
            geocoded = True

    # Print status every 100 addresses
    if len(winery_latlongs) % 100 == 0:
    	print("Completed {} of {} address".format(len(winery_locations), len(test_winery_list)))
            
    # Every 500 addresses, save progress to file(in case of a failure so you have something!)
    if len(winery_latlongs) % 500 == 0:
        pd.DataFrame(winery_locations).to_csv("{}_bak".format(output_filename))

# All done
print("Finished geocoding all wineries")

# save fulls results to CSV
pd.DataFrame(winery_latlongs).to_csv(output_filename)