In [1]:
import pandas as pd
import numpy as np

In [2]:
zipcodes = '/content/uszips.csv'
zips_df = pd.read_csv(zipcodes)
zips_df.head()

   zip       lat       lng  ... imprecise military             timezone
0  601  18.18005 -66.75218  ...     False    False  America/Puerto_Rico
1  602  18.36074 -67.17519  ...     False    False  America/Puerto_Rico
2  603  18.45440 -67.12201  ...     False    False  America/Puerto_Rico
3  606  18.16721 -66.93828  ...     False    False  America/Puerto_Rico
4  610  18.29032 -67.12244  ...     False    False  America/Puerto_Rico

[5 rows x 18 columns]

In [3]:
zips_trunc = zips_df.drop(columns=['zcta','parent_zcta','population','density','county_fips','county_weights','county_names_all','county_fips_all','imprecise','military','timezone'])
zips_trunc.head(8)

   zip       lat       lng         city state_id   state_name  county_name
0  601  18.18005 -66.75218     Adjuntas       PR  Puerto Rico     Adjuntas
1  602  18.36074 -67.17519       Aguada       PR  Puerto Rico       Aguada
2  603  18.45440 -67.12201    Aguadilla       PR  Puerto Rico    Aguadilla
3  606  18.16721 -66.93828      Maricao       PR  Puerto Rico      Maricao
4  610  18.29032 -67.12244       Anasco       PR  Puerto Rico       Añasco
5  612  18.40699 -66.70805      Arecibo       PR  Puerto Rico      Arecibo
6  616  18.41752 -66.66814     Bajadero       PR  Puerto Rico      Arecibo
7  617  18.44125 -66.55916  Barceloneta       PR  Puerto Rico  Barceloneta

In [4]:
states = zips_trunc['state_name'].unique()

In [5]:
states

array(['Puerto Rico', 'Virgin Islands', 'Massachusetts', 'Rhode Island',
       'New Hampshire', 'Maine', 'Vermont', 'Connecticut', 'New York',
       'New Jersey', 'Pennsylvania', 'Delaware', 'District of Columbia',
       'Virginia', 'Maryland', 'West Virginia', 'North Carolina',
       'South Carolina', 'Georgia', 'Florida', 'Alabama', 'Tennessee',
       'Mississippi', 'Kentucky', 'Ohio', 'Indiana', 'Michigan', 'Iowa',
       'Wisconsin', 'Minnesota', 'South Dakota', 'North Dakota',
       'Montana', 'Illinois', 'Missouri', 'Kansas', 'Nebraska',
       'Louisiana', 'Arkansas', 'Oklahoma', 'Texas', 'Colorado',
       'Wyoming', 'Idaho', 'Utah', 'Arizona', 'New Mexico', 'Nevada',
       'California', 'Hawaii', 'American Samoa', 'Guam',
       'Northern Mariana Islands', 'Oregon', 'Washington', 'Alaska'],
      dtype=object)

In [6]:
want = ['Massachusetts', 'Rhode Island',
       'New Hampshire', 'Maine', 'Vermont', 'Connecticut', 'New York',
       'New Jersey', 'Pennsylvania', 'Delaware',
       'Virginia', 'Maryland', 'West Virginia', 'North Carolina',
       'South Carolina', 'Georgia', 'Florida', 'Alabama', 'Tennessee',
       'Mississippi', 'Kentucky', 'Ohio', 'Indiana', 'Michigan', 'Iowa',
       'Wisconsin', 'Minnesota', 'South Dakota', 'North Dakota',
       'Montana', 'Illinois', 'Missouri', 'Kansas', 'Nebraska',
       'Louisiana', 'Arkansas', 'Oklahoma', 'Texas', 'Colorado',
       'Wyoming', 'Idaho', 'Utah', 'Arizona', 'New Mexico', 'Nevada',
       'California','Oregon', 'Washington']

In [7]:
contig_df = zips_trunc[zips_trunc['state_name'].isin(want)]
contig_df = contig_df.reset_index()
contig_df = contig_df.drop(columns='index')
contig_df.head()

    zip       lat       lng         city state_id     state_name county_name
0  1001  42.06259 -72.62589       Agawam       MA  Massachusetts     Hampden
1  1002  42.37492 -72.46210      Amherst       MA  Massachusetts   Hampshire
2  1003  42.39192 -72.52479      Amherst       MA  Massachusetts   Hampshire
3  1005  42.42017 -72.10615        Barre       MA  Massachusetts   Worcester
4  1007  42.27875 -72.40036  Belchertown       MA  Massachusetts   Hampshire

In [10]:
len(contig_df['county_name'].unique())

1797

In [9]:
contig_df.to_csv('/content/contigzips.csv', index = False, header=True)

In [11]:
onecit_contigdf = contig_df.drop_duplicates(subset='county_name')
onecit_contigdf.head()

     zip       lat       lng       city state_id     state_name county_name
0   1001  42.06259 -72.62589     Agawam       MA  Massachusetts     Hampden
1   1002  42.37492 -72.46210    Amherst       MA  Massachusetts   Hampshire
3   1005  42.42017 -72.10615      Barre       MA  Massachusetts   Worcester
16  1029  42.19632 -73.04836  East Otis       MA  Massachusetts   Berkshire
30  1054  42.47363 -72.48746   Leverett       MA  Massachusetts    Franklin

In [12]:
len(onecit_contigdf)

1797

In [13]:
onecit_contigdf.to_csv('/content/onecit_zips.csv', index = False, header=True)