In [ ]:
# Initial imports.
import pandas as pd
import numpy as np
from numpy import random
import os
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

# Import RDS password
from config import rds_pwd

import os
# Find the latest version of spark 2.0  from http://www-us.apache.org/dist/spark/ and enter as the spark version
spark_version = 'spark-3.0.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

spark_version = 'spark-3.0.2'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www-us.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:9 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Get:11 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [60.5 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:14 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Get:15 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,412 kB]
Get:16 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease [21.3 kB]
Get:17 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,152 kB]
Get:18 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [423 kB]
Ign:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [772 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,767 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [452 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,583 kB]
Get:24 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [904 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,183 kB]
Get:26 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic/main amd64 Packages [41.5 kB]
Fetched 13.0 MB in 4s (3,662 kB/s)
Reading package lists... Done
Hit:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease
Hit:2 http://security.ubuntu.com/ubuntu bionic-security InRelease
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease
Hit:5 http://archive.ubuntu.com/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:8 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:9 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:10 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Hit:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Hit:12 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease
Hit:13 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Reading package lists... Done

In [ ]:
# Download the Postgres driver that will allow Spark to interact with Postgres.
!wget https://jdbc.postgresql.org/download/postgresql-42.2.16.jar

--2021-05-20 00:42:42--  https://jdbc.postgresql.org/download/postgresql-42.2.16.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1002883 (979K) [application/java-archive]
Saving to: ‘postgresql-42.2.16.jar’

postgresql-42.2.16. 100%[===================>] 979.38K  5.89MB/s    in 0.2s

2021-05-20 00:42:42 (5.89 MB/s) - ‘postgresql-42.2.16.jar’ saved [1002883/1002883]

In [ ]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Wine-Project").config("spark.driver.extraClassPath","/content/postgresql-42.2.16.jar").getOrCreate()

In [ ]:
# Configure settings for RDS
mode = "append"
#jdbc_url="jdbc:postgresql://<connection string>:5432/<database-name>"
jdbc_url="jdbc:postgresql://wine-final-project.czqkltznl3rl.us-east-2.rds.amazonaws.com/winedb"
#config = {"user":"postgres",
          #"password": "<password>",
          #"driver":"org.postgresql.Driver"}
config = {"user":"wineuser",
          "password": rds_pwd,
          "driver":"org.postgresql.Driver"}

In [ ]:
#select_sql = "(SELECT points, variety, avg_temp, avg_airp, avg_humid, avg_precip FROM machine"
wine_df = spark.read.jdbc(url=jdbc_url, table='weather_mapscaled', properties=config)
#county_df = spark.read.jdbc(url=jdbc_url, table='counties', properties=config)
wine_df.show()

+--------------------+---+----+--------------------+--------------------+--------------------+--------------------+------------+------+------------------+--------------------+
|  winery_search_term|lat| lng|            avg_temp|            avg_airp|           avg_humid|          avg_precip|     country|points|           variety|              winery|
+--------------------+---+----+--------------------+--------------------+--------------------+--------------------+------------+------+------------------+--------------------+
|   LaZarre winery US| 36|-121|279.6850000000000...|1018.230000000000...|73.42000000000000...|0.025000000000000000|          US|    88|        Chardonnay|             LaZarre|
|Negretti winery I...| 45|   8|275.6025000000000...|1016.337500000000...|79.04000000000000...|0.070000000000000000|       Italy|    88|        Chardonnay|            Negretti|
|Pico Maccario win...| 45|   8|280.6950000000000...|1017.880000000000...|70.50250000000000...|0.147500000000000000|       Italy|    85|        Chardonnay|       Pico Maccario|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    85|        Chardonnay|             Farnese|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    86|        Chardonnay|             Farnese|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    85|        Chardonnay|             Farnese|
|Farnese winery Italy| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|       Italy|    88|        Chardonnay|             Farnese|
|Castellargo winer...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    85|        Chardonnay|         Castellargo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    85|   Sauvignon Blanc|          Di Lenardo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    86|        Chardonnay|          Di Lenardo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    85|        Chardonnay|          Di Lenardo|
|Di Lenardo winery...| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|       Italy|    87|        Chardonnay|          Di Lenardo|
|A.A. Badenhorst F...|-34|  19|293.1100000000000...|1003.365000000000...|66.92750000000000...|0.255000000000000000|South Africa|    85|              Rosé|A.A. Badenhorst F...|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    85|Cabernet Sauvignon|          Post House|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    85|Cabernet Sauvignon|          Post House|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    88|            Merlot|          Post House|
|Post House winery...| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|South Africa|    88|            Merlot|          Post House|
|Ladoucette winery...| 47|   3|278.4050000000000...|1019.597500000000...|90.47500000000000...|0.062500000000000000|      France|    86|   Sauvignon Blanc|          Ladoucette|
|   Paschal winery US| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|          US|    86|        Pinot Noir|             Paschal|
|   Paschal winery US| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|          US|    88|        Chardonnay|             Paschal|
+--------------------+---+----+--------------------+--------------------+--------------------+--------------------+------------+------+------------------+--------------------+
only showing top 20 rows

In [ ]:
allwines = wine_df.select('variety','lat','lng','avg_temp','avg_airp','avg_humid','avg_precip', (wine_df.points >= 90).alias('success'))
allwines.show()

+------------------+---+----+--------------------+--------------------+--------------------+--------------------+-------+
|           variety|lat| lng|            avg_temp|            avg_airp|           avg_humid|          avg_precip|success|
+------------------+---+----+--------------------+--------------------+--------------------+--------------------+-------+
|        Chardonnay| 36|-121|279.6850000000000...|1018.230000000000...|73.42000000000000...|0.025000000000000000|  false|
|        Chardonnay| 45|   8|275.6025000000000...|1016.337500000000...|79.04000000000000...|0.070000000000000000|  false|
|        Chardonnay| 45|   8|280.6950000000000...|1017.880000000000...|70.50250000000000...|0.147500000000000000|  false|
|        Chardonnay| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|  false|
|        Chardonnay| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|  false|
|        Chardonnay| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|  false|
|        Chardonnay| 43|  12|278.1475000000000...|1014.445000000000...|81.86750000000000...|0.182500000000000000|  false|
|        Chardonnay| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|   Sauvignon Blanc| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|        Chardonnay| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|        Chardonnay| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|        Chardonnay| 46|  13|277.6100000000000...|1016.707500000000...|79.63250000000000...|0.147500000000000000|  false|
|              Rosé|-34|  19|293.1100000000000...|1003.365000000000...|66.92750000000000...|0.255000000000000000|  false|
|Cabernet Sauvignon| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|  false|
|Cabernet Sauvignon| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|  false|
|            Merlot| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|  false|
|            Merlot| 36| -87|277.1825000000000...|1020.142500000000...|77.92500000000000...|0.187500000000000000|  false|
|   Sauvignon Blanc| 47|   3|278.4050000000000...|1019.597500000000...|90.47500000000000...|0.062500000000000000|  false|
|        Pinot Noir| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|  false|
|        Chardonnay| 42|-123|276.0250000000000...|1019.887500000000...|85.45250000000000...|0.057500000000000000|  false|
+------------------+---+----+--------------------+--------------------+--------------------+--------------------+-------+
only showing top 20 rows

In [ ]:
mer_df = allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Merlot').collect()
#mer_df = wine_df.select(variety='Merlot').collect()
merlot = mer_df.toPandas()
merlot

       lat    lng  avg_temp   avg_airp  avg_humid  avg_precid  success
0     36.0  -87.0  277.1825  1020.1425    77.9250      0.1875      0.0
1     36.0  -87.0  277.1825  1020.1425    77.9250      0.1875      0.0
2     42.0 -123.0  276.0250  1019.8875    85.4525      0.0575      0.0
3     44.0 -123.0  276.0250  1019.8875    85.4525      0.0575      0.0
4     36.0  -84.0  277.3750  1020.0125    79.1975      0.2350      0.0
...    ...    ...       ...        ...        ...         ...      ...
2969  41.0  -72.0  272.7475  1016.8375    70.1425      0.1400      0.0
2970  41.0  -72.0  272.7475  1016.8375    70.1425      0.1400      0.0
2971  41.0  -72.0  272.7475  1016.8375    70.1425      0.1400      0.0
2972  35.0  -84.0  280.4425  1019.8050    73.0225      0.2600      0.0
2973  36.0 -121.0  279.6850  1018.2300    73.4200      0.0250      0.0

[2974 rows x 7 columns]

In [ ]:
merlot.dtypes

lat           float64
lng           float64
avg_temp      float64
avg_airp      float64
avg_humid     float64
avg_precid    float64
success       float64
dtype: object

In [ ]:
county_weath = spark.read.jdbc(url=jdbc_url, table='uscounty', properties=config)
county_weath.show()

+----+---+---+------------+--------+-------------+------------+--------------------+--------------------+--------------------+--------------------+
| zip|lat|lng|        city|state_id|   state_name| county_name|            avg_temp|            avg_airp|           avg_humid|          avg_precip|
+----+---+---+------------+--------+-------------+------------+--------------------+--------------------+--------------------+--------------------+
|1001| 42|-73|      Agawam|      MA|Massachusetts|     Hampden|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1002| 42|-72|     Amherst|      MA|Massachusetts|   Hampshire|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1005| 42|-72|       Barre|      MA|Massachusetts|   Worcester|270.7250000000000...|1014.960000000000...|71.75250000000000...|0.135000000000000000|
|1029| 42|-73|   East Otis|      MA|Massachusetts|   Berkshire|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1054| 42|-72|    Leverett|      MA|Massachusetts|    Franklin|270.8050000000000...|1016.122500000000...|72.21500000000000...|0.125000000000000000|
|1431| 43|-72|       Ashby|      MA|Massachusetts|   Middlesex|270.6650000000000...|1016.715000000000...|69.78500000000000...|0.132500000000000000|
|1810| 43|-71|     Andover|      MA|Massachusetts|       Essex|270.6650000000000...|1016.715000000000...|69.78500000000000...|0.132500000000000000|
|2019| 42|-71|  Bellingham|      MA|Massachusetts|     Norfolk|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2043| 42|-71|     Hingham|      MA|Massachusetts|    Plymouth|271.7750000000000...|1016.035000000000...|69.25250000000000...|0.135000000000000000|
|2048| 42|-71|   Mansfield|      MA|Massachusetts|     Bristol|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2108| 42|-71|      Boston|      MA|Massachusetts|     Suffolk|271.7475000000000...|1016.092500000000...|69.65500000000000...|0.135000000000000000|
|2532| 42|-71|Buzzards Bay|      MA|Massachusetts|  Barnstable|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2535| 41|-71|    Chilmark|      MA|Massachusetts|       Dukes|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2554| 41|-70|   Nantucket|      MA|Massachusetts|   Nantucket|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2802| 42|-71|      Albion|      RI| Rhode Island|  Providence|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2804| 41|-72|     Ashaway|      RI| Rhode Island|  Washington|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2816| 42|-72|    Coventry|      RI| Rhode Island|        Kent|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|2835| 42|-71|   Jamestown|      RI| Rhode Island|     Newport|272.1650000000000...|1016.140000000000...|71.24750000000000...|0.135000000000000000|
|3031| 43|-72|     Amherst|      NH|New Hampshire|Hillsborough|269.7375000000000...|1015.325000000000...|69.26250000000000...|0.097500000000000000|
|3032| 43|-71|      Auburn|      NH|New Hampshire|  Rockingham|269.7375000000000...|1015.325000000000...|69.26250000000000...|0.097500000000000000|
+----+---+---+------------+--------+-------------+------------+--------------------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [ ]:
bigcounty = county_weath.toPandas()
bigcounty.head(10)

    zip       city state_id  ...   avg_airp avg_humid  avg_precip
0  1001     Agawam       MA  ...  1016.1225   72.2150       0.125
1  1002    Amherst       MA  ...  1016.1225   72.2150       0.125
2  1005      Barre       MA  ...  1014.9600   71.7525       0.135
3  1029  East Otis       MA  ...  1016.1225   72.2150       0.125
4  1054   Leverett       MA  ...  1016.1225   72.2150       0.125

[5 rows x 11 columns]

In [ ]:
bigcounty.dtypes

zip              int64
city            object
state_id        object
state_name      object
county_name     object
lat            float64
lng            float64
avg_temp       float64
avg_airp       float64
avg_humid      float64
avg_precip     float64
dtype: object

In [ ]:
countydrops = ['zip','city','state_id','state_name','county_name']

In [ ]:
mer_df = (allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Merlot').collect()).toPandas()
syr_df = (allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Syrah').collect()).toPandas()
savyb_df = (allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Sauvignon Blanc').collect()).toPandas()
ries_df = (allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Riesling').collect()).toPandas()
cabsav_df = (allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Cabernet Sauvignon').collect()).toPandas()
char_df = (allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Chardonnay').collect()).toPandas()
pino_df = (allwines.select('lat','lng','avg_temp','avg_airp','avg_humid','avg_precip','success').filter(allwines.variety == 'Pinot Noir').collect()).toPandas()

In [ ]:
mer_df.dtypes

lat           float64
lng           float64
avg_temp      float64
avg_airp      float64
avg_humid     float64
avg_precid    float64
success       float64
dtype: object

In [ ]:
syr_success = syr_df[syr_df['success'] == 1]
syr_success.describe()

               lat          lng     avg_temp  ...    avg_humid   avg_precid  success
count  2011.000000  2011.000000  2011.000000  ...  2011.000000  2011.000000   2011.0
mean     35.067628   -95.653904   279.071087  ...    74.252695     0.081534      1.0
std      20.832628    56.226422     6.588617  ...     8.950438     0.069631      0.0
min     -42.000000  -124.000000   263.605000  ...    46.010000     0.000000      1.0
25%      35.000000  -122.000000   276.457500  ...    71.337500     0.035000      1.0
50%      39.000000  -120.000000   280.037500  ...    79.155000     0.070000      1.0
75%      46.000000   -90.000000   282.145000  ...    80.120000     0.125000      1.0
max      50.000000   177.000000   297.037500  ...    89.960000     0.917500      1.0

[8 rows x 7 columns]

In [ ]:
syr_fail = syr_df[syr_df['success'] == 0]
syr_fail.describe()

               lat          lng     avg_temp  ...    avg_humid   avg_precid  success
count  1917.000000  1917.000000  1917.000000  ...  1917.000000  1917.000000   1917.0
mean     31.051122   -93.803339   280.023340  ...    73.047027     0.077649      0.0
std      24.984306    48.291407     7.029128  ...    10.230338     0.063122      0.0
min     -42.000000  -124.000000   263.487500  ...    35.680000     0.000000      0.0
25%      35.000000  -122.000000   276.220000  ...    70.487500     0.030000      0.0
50%      38.000000  -120.000000   280.285000  ...    75.495000     0.065000      0.0
75%      44.000000   -77.000000   282.992500  ...    80.530000     0.112500      0.0
max      50.000000   177.000000   298.787500  ...    88.372500     0.457500      0.0

[8 rows x 7 columns]

In [ ]:
pin_success = pino_df[pino_df['success'] == 1]
pin_success.describe()

               lat          lng     avg_temp  ...    avg_humid   avg_precid  success
count  6625.000000  6625.000000  6625.000000  ...  6625.000000  6625.000000   6625.0
mean     37.576000   -91.299170   279.687224  ...    76.062159     0.095429      1.0
std      15.513435    63.198587     3.907611  ...     8.167213     0.051462      0.0
min     -45.000000  -124.000000   265.975000  ...    39.385000     0.000000      1.0
25%      37.000000  -123.000000   276.745000  ...    71.772500     0.077500      1.0
50%      39.000000  -122.000000   281.032500  ...    78.357500     0.087500      1.0
75%      45.000000   -87.000000   281.630000  ...    79.155000     0.125000      1.0
max      51.000000   177.000000   296.205000  ...    91.555000     0.355000      1.0

[8 rows x 7 columns]

In [ ]:
pin_fail = pino_df[pino_df['success'] == 0]
pin_fail.describe()

               lat          lng     avg_temp  ...    avg_humid   avg_precid  success
count  6016.000000  6016.000000  6016.000000  ...  6016.000000  6016.000000   6016.0
mean     31.400266   -75.739528   280.097195  ...    75.659150     0.099278      0.0
std      25.899730    75.507662     5.650691  ...     9.225137     0.057575      0.0
min     -49.000000  -124.000000   263.445000  ...    35.680000     0.000000      0.0
25%      36.000000  -123.000000   276.220000  ...    71.772500     0.075000      0.0
50%      39.000000  -120.000000   280.200000  ...    78.218750     0.105000      0.0
75%      45.000000   -71.000000   281.742500  ...    79.155000     0.125000      0.0
max      51.000000   178.000000   298.237500  ...    92.215000     0.457500      0.0

[8 rows x 7 columns]

In [ ]:
winedropcols = ['success']

In [ ]:
#features and targets
variety = mer_df.copy()
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.7728494623655914

In [ ]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=countydrops)
mer_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = syr_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.6588594704684317

In [ ]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
syr_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = savyb_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.7593220338983051

In [ ]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
savyb_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = ries_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.6945967110415036

In [ ]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
ries_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = cabsav_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.7035860190649115

In [ ]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
cabsav_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = char_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.7079646017699115

In [ ]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
char_preds = rf.predict(Xcount)

In [ ]:
#features and targets
variety = pino_df
y = variety['success']
X = variety.drop(columns=winedropcols)
X_train, X_test, y_train, y_test = train_test_split(X,y)
#init model again
rf = RandomForestClassifier(n_estimators=200, random_state=99)
rf.fit(X, y)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=200,
                       n_jobs=None, oob_score=False, random_state=99, verbose=0,
                       warm_start=False)

In [ ]:
preds = rf.predict(X_test)
acc_score = accuracy_score(y_test, preds)
acc_score

0.6501107244542866

In [ ]:
#using model to predict the counties
Xcount = bigcounty.drop(columns=['zip','city', 'state_id', 'state_name', 'county_name'])
pino_preds = rf.predict(Xcount)

In [ ]:
counties_preds = bigcounty.copy()
counties_preds['mer_success'] = mer_preds
counties_preds['syr_success'] = syr_preds
counties_preds['savyb_success'] = savyb_preds
counties_preds['ries_success'] = ries_preds
counties_preds['cabsav_success'] = cabsav_preds
counties_preds['char_success'] = char_preds
counties_preds['pinot_success'] = pino_preds

In [ ]:
counties_preds.head()

    zip       city state_id  ... cabsav_success char_success  pinot_success
0  1001     Agawam       MA  ...            0.0          0.0            1.0
1  1002    Amherst       MA  ...            0.0          0.0            1.0
2  1005      Barre       MA  ...            0.0          0.0            1.0
3  1029  East Otis       MA  ...            0.0          0.0            1.0
4  1054   Leverett       MA  ...            0.0          0.0            1.0

[5 rows x 19 columns]

In [ ]:
counties_preds.to_csv('county_predictions.csv')

In [ ]:
spark_counties = spark.createDataFrame(counties_preds)
spark_counties.show()

In [ ]:
#spark_counties.write.jdbc(url=jdbc_url, table='county_predictions', mode=mode, properties=config)

In [ ]:
#sparked_preds = spark.read.jdbc(url=jdbc_url, table='county_predictions', properties=config)

In [ ]:
#sparked_preds.show()

In [ ]:
#winners_df = pd.DataFrame(sparked_preds.select('zip','lat','lng','state_id','county_name','mer_success','rose_success','syr_success','savyb_success','ries_success','cabsav_success','char_success','pinot_success').collect(), columns=['zip','lat','lng','state','county_name','mer_success','rose_success','syr_success','savyb_success','ries_success','cabsav_success','char_success','pinot_success'], dtype=float)
#winners_df.describe()

In [ ]:
#winners_df.columns

In [ ]:
#winners_df

In [ ]:
#winners_df['mer_success'].value_counts()